* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
$pagebg: rgb(166, 243, 201);
$buttonbg: rgb(105, 197, 146);
$hoverbg: rgb(82, 139, 108);
$contbg: white;
body {
    .container {
        .firstcont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .button1 {
                :first-child {
                    background-color: $buttonbg;
                    width: 90px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: $contbg;
                    border-radius: 5px;
                    transition: 300ms;
                }
                :first-child:hover {
                    background-color: $hoverbg;
                }
            }
        }
        .secondcont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            #firstid {
                width: 100px;
            }
            #inputid {
                padding-left: 5px;
                height: 30px;
                border: 2px solid grey;
                width: 100px;
            }
            .button2 {
                :first-child {
                    background-color: $buttonbg;
                    width: 90px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: $contbg;
                    border-radius: 5px;
                    transition: 300ms;
                }
                :first-child:hover {
                    background-color: $hoverbg;
                }
            }
        }
    }
}
