* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
$pagebg: rgb(166, 243, 201);
$buttonbg: rgb(105, 197, 146);
$hoverbg: rgb(82, 139, 108);
$contbg: white;
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    background-color: $pagebg;
    .user-info-container {
        width: auto;
        height: auto;
        background-color: $contbg;
        border-radius: 10px;
        padding: 30px;
        margin-top: 225px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container {
        width: 500px;
        height: auto;
        background-color: white;
        border-radius: 3px;
        padding: 30px;
        margin-top: 25px;
        margin-bottom: 250px;
        .ygb-header {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 30px;
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
            #select {
                height: 35px;
                width: 16em;
                padding: 0 0.5em;
                border: 2px solid grey;
            }
            input {
                height: 35px;
                width: 16em;
                padding: 0 0.5em;
                border: 2px solid grey;
            }
        }
        .file-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            .file-header {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                font-weight: bold;
                font-size: 21px;
                margin-bottom: 15px;
            }
            .file-row {
                display: flex;
                justify-content: center;
                .file-column {
                    width: 190px;
                    height: 100px;
                    padding: 0px;
                    margin: 5px;

                    background-color: rgb(223, 253, 238);
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .file-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin-top: 8px;
                        background-color: rgb(105, 197, 146);
                        width: 110px;
                        height: 30px;
                        line-height: 40px;
                        color: white;
                        border-radius: 5px;
                        transition: 300ms;
                        font-size: 17px;
                    }
                    .file-button:hover {
                        background-color: $hoverbg;
                    }
                }
            }
            .apply-button {
                margin-top: 15px;
                background-color: rgb(105, 197, 146);
                width: 130px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: white;
                border-radius: 5px;
                transition: 300ms;
                font-size: 17px;
            }
            .apply-button:hover {
                background-color: $hoverbg;
            }
        }
    }
}
